.header-container {
    height: 400px;
    color: #fff;
    position: relative;

    background: #231B2B; /* Old browsers */
    background: linear-gradient(to bottom, #231B2B 0%,#19131F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    > .title-name { 
        position: absolute;
        bottom: $spacing-unit;
        right: $spacing-unit;
        font-size: 3em;
        line-height: 100%;
        font-weight: 200;
        letter-spacing: 5px;
        
        @include media-sm {
            font-size: 4em;
            bottom: $spacing-unit * 2;
            right: $spacing-unit * 2;
        }
    }

    > .navigation-menu {
        position: absolute;
        top: $spacing-unit;
        right: $spacing-unit;
        
        @include media-sm {
            top: $spacing-unit * 2;
            right: $spacing-unit * 2;
        }
    }

    > .node-canvas {
        opacity: .3;
    }
}